h1 {
  font-size: 25px;
}

button {
  background: transparent;
  height: 2rem;
  width: 7rem;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    height: 15px;
    width: 20px;
  }
  h3 {
    font-weight: normal;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 16px;
  }
}
