#Countries {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-wrap: wrap;

  &_Card {
    margin: 1rem;
    height: 340px;
    width: 200px;

    a {
      text-decoration: none;

      figure {
        height: 50%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      h1 {
        padding: 1rem;
        font-size: 17px;
      }
      h2 {
        font-size: 15px;
        font-weight: normal;
        padding: 0 1rem 0.5rem 1rem;
      }
    }
  }
}

@media screen and (max-width: "570px") {
  #Countries {
  justify-content: center;

  &_Card {
    margin: 1rem;
    height: 340px;
    width: 200px;

    a {
      text-decoration: none;

      figure {
        height: 50%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      h1 {
        padding: 1rem;
        font-size: 17px;
      }
      h2 {
        font-size: 15px;
        font-weight: normal;
        padding: 0 1rem 0.5rem 1rem;
      }
    }
  }
}
}
