// Background-Color
$Dark-Mode-Background: hsl(207, 26%, 17%); // (Dark Mode Background)
$Light-Mode-Background: hsl(0, 0%, 95%); // (Light Mode Background)

// Text-Color
$Dark-Mode-Text: hsl(0, 0%, 100%); // (Dark Mode Text)
$Light-Mode-Text: hsl(200, 15%, 8%); // (Light Mode Text)

// Element-Color
$Dark-Mode-Element: hsl(209, 23%, 22%); // (Dark Mode Elements)
$Light-Mode-Element: hsl(0, 0%, 100%); // (Dark Mode Elements)

// Input-Color
$Dark-Mode-Input: hsl(0, 0%, 100%); // (Dark Mode Input)
$Light-Mode-Input: hsl(0, 0%, 52%); // (Light Mode Input)
